@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

@import "tailwindcss";


@theme {
  --font-salsa :'Salsa', 'cursive'
}


@theme {
  --font-dancing :'Dancing Script', 'cursive'
}

@theme {
  --font-serif :'DM Serif Display', 'serif'
}

@theme {
  --font-arch :'Archivo Narrow', 'sans-serif'
}

@theme {
  --font-flame : "Flamenco", 'system-ui'
}

@theme {
  --font-condi : "Condiment", 'cursive'
}

@theme {
  --font-anton :  "Anton", 'sans-serif'
}

@theme {
  --font-great :  "Great Vibes", 'cursive'
}